.katex-error-section {
    color: #ff8989;
    font-size: x-small;
    text-align: center;
}

.katex-display {
    display: block !important;
    margin: 1em 0 !important;
    text-align: center !important;
    overflow: overlay;
}