body {
  margin: 0;
  padding-top: 60px;
  font-family: "Computer Modern Bright", sans-serif;
  background-color: #222831;
  color: #FFF;
}
.content-animation {
  animation: fadeInOut 0.5s ease-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar {
  background-color: #31363F; 
  padding: 10px 30px; 
}
header .nav-link {
  margin: 0 10px;
}
header .navbar-brand, header .nav-link {
  color: white; 
  position: relative;
}
header .nav-link:hover {
  color: #ddd; 
}
header .nav-link::before {
  content: "{";
  position: absolute;
  left: -0.5em;
  top: 0.3em;
  transition: transform 0.3s ease;
  font-size: 1.3em;
  font-weight: bold;
}

header .nav-link:hover::before {
  transform: scale(1.4);
}
footer {
  background-color: #31363F;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  margin-bottom: 0;
  position: fixed;
  height: 60px;
  width: 100%;
}
.socials-container {
  align-items: center;
  width: 30%;
  float: right;
  justify-content: space-between; 
  display: flex;
  margin-right: 5%;
}
.social-btn {
  background-color: #76ABAE;
  border: none;
  color: #EEEEEE;
  font-size: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.social-btn:hover {
  transform: scale(1.2);
  color: #76ABAE;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #FFF;
  padding: 0 10px;
}
nav a:hover {
  color: #76ABAE;
}
.active {
  text-decoration: underline;
}

.section {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #31363F;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Use at final div on screen to show gap before footer */
.end-section {
  margin-bottom: 80px;
}

.paginate {
  padding-left: 0.2rem;
}

.page-link {
  color: #76ABAE !important;
}

.page-link:hover {
  color: #31363F !important;
}

.page-status {
  padding-left: 0.275rem;
  font-size: x-small;
  margin-bottom: auto;
  text-align: center;
}

.active > .page-link {
  color: #fff !important;
  background-color: #76ABAE !important;
  border-color: #76ABAE !important;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dateposted {
  font-size: small;
}

.btn-custom {
  background-color: #31363F;
  color: #EEEEEE;
  margin: 5px 0;
}
.btn-custom:hover {
  background-color: #76ABAE;
}
.image-container img {
  max-width: 100%;
}

.question:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: translateY(-2px);
}

.question:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

h2 {
  overflow: hidden;
  text-align: center;
  color: #76ABAE;
}

h4 {
  text-align: center;
}

.radio-group {
  display: flex;
  justify-content: center;
  padding: 10px 30%;
}
.radio-group label {
  margin: 0px 10px;
}

.form-group {
  margin-bottom: 20px;
}
.remember {
  display: flex;
}



label {
  display:block;
  margin-bottom: 5px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #222831;
  color: #FFF;
}

[type="text"]::placeholder {
  text-align: center;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 25px;
}
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #76ABAE;
  background-color: #31363F;
  border-radius: 4px;
}
input[type="checkbox"]:checked + label:before {
  background-color: #76ABAE;
}
input[type="checkbox"]:checked + label:after {
  content: '\2713';
  position:absolute;
  top: 2px;
  left: 2px;
  color: #FFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #76ABAE;
  color: #FFF;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #222831;
}
input[type="submit"]:disabled {
  background-color: #222831;
  cursor: default;
}
.error-section {
  padding: 0 20px;
}
.error-section p.error {
  color: #ff8989;
}
.error-section p.success {
  color: #76ABAE;
}

.card {
  margin: 20px auto;
  padding: 20px;
  background-color: #31363F;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}
.card-body {
  padding: 20px;
  font-size: 1rem;
}
.card-body h4 {
  color: #76ABAE;
  margin-top: 20px;
}
.card-body p, .card-body ul {
  margin-bottom: 15px;
}
.banner {
  background-color: #fff;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}
.content {
  z-index: 1;
  text-align: center;
  background-color: #FFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}
.content h1 {
  color: #333;
}
.content p {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 100px;
}
.pagination a {
  color: #76ABAE;
  background-color: #31363F;
  border: 1px solid #76ABAE;
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: 4px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.pagination a:hover {
  background-color: #76ABAE;
  color: #222831;
}
.pagination .page-item.active .page-link {
  color: #222831 !important;
  background-color: #76ABAE !important;
  border-color: #31363F !important;
  z-index: 0 !important;
}
.pagination .page-item.disabled .page-link,
.pagination .page-item.disabled .page-link:hover {
  color: #666666 !important;
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #3E444C !important;
  border-color: #4E555C !important;
  cursor: not-allowed !important;
}
.table {
  width: 100%;
  background-color: #222831;
  border-collapse: collapse;
}
.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}
.table thead th {
  color: #76ABAE;
  font-size: 1rem;
}
.table-hover tbody tr:hover {
  background-color: #31363F;
}
.table-dark {
  color: #FFF;
}

.stat-container {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
}
.stat-icon {
  font-size: 1.5rem;
  margin-right: 5px;
}
.username-display h1 {
  color: #76ABAE;
}