<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mathleteizzle{% endblock %}</title>
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
  <header>
    <div class="logo">Mathleteizzle</div>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
      <a href="{{ url_for('play') }}">Play Quiz</a>
      <a href="{{url_for('create') }}">Make Quiz</a>
      <!-- Display a link to the login page if the user is authenticated: otherwise display a link to the user's profile page -->
      {% if current_user.is_authenticated %}
        <a href="{{url_for('profile') }}">Profile</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
  </header>
  {% block body %}
  {% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>