<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mathleteizzle{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
  <header>
    <div class="logo">Mathleteizzle</div>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
      <a href="{{ url_for('play_quiz') }}">Play Quiz</a>
      <a href="{{url_for('make_quiz') }}">Make Quiz</a>
      <a href="{{ url_for('login') }}">Login</a>
    </nav>
  </header>
  {% block body %}
  {% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>