<div class="section create-comment">
    <form id="submit-comment" method="post">
        {{ comment_form.hidden_tag() }}
        {{ comment_form.comment(class_="large-text-box") }}
        <input id="commentSubmit" type="submit" value="Add Comment">
    </form>
    
</div>
{% if question_comments.count() == 0 %}
<div>
    <p>No Comments Yet...</p>
</div>
{% endif %}
{% for comment in question_comments %}
<div class="comment section">
    <p class="comment-body">{{ comment.body }}</p>
    <p class="comment-byline opacity-50">{{ comment.username }}, <span class="dateposted" dateposted="{{ comment.date_posted }}"></span></p>
</div>
{% endfor %}