<!-- katexscripts extends base.html but includes the scripts to show katex -->
{% extends "katexscripts.html" %}
{% block title %}Make a Quiz{% endblock %}

{% block body %}
    <div class="section" id="question-form">
        <h2>Create a Question</h2><br>        
        <form action="{{ url_for('create') }}" id="submit-question" method="post">
            {{ question_form.hidden_tag() }}
            <h4>{{ question_form.difficulty.label }}</h4>
            <div class="radio-group">
                {% for choice in question_form.difficulty %}
                    {% if choice.label.text == 'Easy' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-success") }}
                    {% endif %}
                    {% if choice.label.text == 'Medium' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-warning") }}
                    {% endif %}
                    {% if choice.label.text == 'Hard' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-danger") }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <h4>{{ question_form.title.label.text }}</h4>
                {{ question_form.title(class_='katex-display', placeholder_="Enter a question title", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="titleError"></p></div>
            </div>

            <div class="form-group">
                <h4>{{ question_form.description.label }}</h4>
                {{ question_form.description(class_='large-text-box', placeholder_="Enter a description (max 250 characters)...", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="descriptionError"></p></div>
            </div>

            <div class="form-group">
                <h4>{{ question_form.code.label }}</h4>
                {{ question_form.code(class_='katex-display', placeholder_="Enter Raw LaTeX", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="codeError"></p></div>
                <h2 class="katex-display" id="katexdyna" hidden></h2>
                <p class="katex-display katex-error-section" id="katexErrorCode"></p>
            </div>

            <input id="questionSubmit" type="submit" value="Submit">
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/create_question.js')}}"></script>
{% endblock %}

{% block footer %}
{% endblock %}