<!-- katexscripts extends base.html but includes the scripts to show katex -->
{% extends "katexscripts.html" %}
{% block title %}Make a Quiz{% endblock %}

{% block body %}
    <!-- Help Button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#latexHelpModal">Help</button>

    <!-- Modal -->
    <div class="modal fade" id="latexHelpModal" tabindex="-1" aria-labelledby="latexHelpModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="latexHelpModalLabel">Common LaTeX Commands</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <!-- Buttons Column -->
                    <div class="btn-group-vertical col-3">
                        <button type="button" class="btn btn-custom" data-image="accents.png">Accents</button>
                        <button type="button" class="btn btn-custom" data-image="emphasis.png">Emphasis in \text</button>
                        <button type="button" class="btn btn-custom" data-image="delimiter-sizing.png">Delimiter Sizing</button>
                        <button type="button" class="btn btn-custom" data-image="greek-letters.png">Greek Letters</button>
                        <button type="button" class="btn btn-custom" data-image="other-letters.png">Other Letters</button>
                        <button type="button" class="btn btn-custom" data-image="alphabets-unicode.png">Alphabets & Unicode</button>
                        <button type="button" class="btn btn-custom" data-image="annotation.png">Annotation</button>
                        <button type="button" class="btn btn-custom" data-image="vertical-layout.png">Vertical Layout</button>
                        <button type="button" class="btn btn-custom" data-image="math-constructs.png">Math Constructs</button>
                        <button type="button" class="btn btn-custom" data-image="delimiters.png">Delimiters</button>
                        <button type="button" class="btn btn-custom" data-image="operators.png">Operators</button>
                        <button type="button" class="btn btn-custom" data-image="fractions-binomials.png">Fractions & Binomials</button>
                        <button type="button" class="btn btn-custom" data-image="square-root.png">Square Root</button>
                        <button type="button" class="btn btn-custom" data-image="arrow.png">Arrow</button>
                    </div>
                    <!-- Image Display Area -->
                    <div class="image-container col-9 text-center">
                        <img id="modalImage" src="default.png" alt="LaTeX Command" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section end-section" id="question-form">
        <h2>Create a Question</h2><br>        
        <form action="{{ url_for('create') }}" id="submit-question" method="post">
            {{ question_form.hidden_tag() }}
            <h4>{{ question_form.difficulty.label }}</h4>
            <div class="radio-group">
                {% for choice in question_form.difficulty %}
                    {% if choice.label.text == 'Easy' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-success") }}
                    {% endif %}
                    {% if choice.label.text == 'Medium' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-warning") }}
                    {% endif %}
                    {% if choice.label.text == 'Hard' %}
                        {{ choice(class_="btn-check") }}
                        {{ choice.label(class_="btn btn-outline-danger") }}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="form-group">
                <h4>{{ question_form.title.label.text }}</h4>
                {{ question_form.title(class_='katex-display', placeholder_="Enter a question title", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="titleError"></p></div>
            </div>

            <div class="form-group">
                <h4>{{ question_form.description.label }}</h4>
                {{ question_form.description(class_='large-text-box', placeholder_="Enter a description (max 250 characters)...", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="descriptionError"></p></div>
            </div>

            <div class="form-group">
                <h4>{{ question_form.code.label }}</h4>
                {{ question_form.code(class_='katex-display', placeholder_="Enter Raw LaTeX", autocomplete="off") }}
                <div class="error-section"><p class="katex-error-section" id="codeError"></p></div>
                <h2 class="katex-display" id="katexdyna" hidden></h2>
                <p class="katex-display katex-error-section" id="katexErrorCode"></p>
            </div>

            <input id="questionSubmit" type="submit" value="Submit">
        </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/create_question.js')}}"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        document.querySelectorAll('.btn-custom').forEach(button => {
            button.addEventListener('click', function() {
                const imageName = this.getAttribute('data-image');
                document.getElementById('modalImage').src = imageName;
            });
        });
    </script>
{% endblock %}

{% block footer %}
{% endblock %}