{% extends "katexscripts.html" %}
{% block title %}Login/Signup{% endblock %}

{% block body %}


<div class="switch-section">
    <div class="switch-labels">
        <span>Login</span>
    </div>
    <label class="switch">
        <input type="checkbox" id="switch">
        <span class="slider"></span>
    </label>
    <div class="switch-labels">
        <span>Sign up</span>
    </div>
</div>

<div class="section" id="login-form">
    <h2>Login</h2>
    <form id="loginformelement" action="{{ url_for('login') }}" method="post">
        {{ login_form.hidden_tag() }}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group remember">
            <input type="checkbox" id="rememberMe">
            <label for="rememberMe">Remember Me</label>
        </div>
        <div class="error-section">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'flash_login' in message %}
                            <p class="error">{{ message|replace('flash_login: ', '') }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input id="loginSubmit" type="submit" value="Login">
    </form>
</div>

<div class="section" id="signup-form" style="display:none;">
    <h2>Sign Up</h2>
    <form id="signupformelement" action="{{ url_for('signup_user') }}" method="post">
        {{ signup_form.hidden_tag() }}
        <div class="form-group">
            <label for="setemail">Set Email:</label>
            <input type="email" id="setemail" name="setemail" required>
        </div>
        <div class="form-group">
            <label for="setusername">Set Username:</label>
            <input type="text" id="setusername" name="setusername" required>
        </div>
        <div class="form-group">
            <label for="createpassword">Create Password:</label>
            <input type="password" id="createpassword" name="createpassword" required>
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>
        </div>
        <div class="error-section" id="userlength"></div>
        <div class="error-section">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {% if 'flash_signup' in message %}
                            <p class="error">✘ {{ message|replace('flash_signup: ', '') }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input id="signupSubmit" type="submit" value="Sign Up">
    </form>
</div>

{% endblock %}

{% block footer %}
<footer>
    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/login_script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</footer>
{% endblock %}