{% extends "katexscripts.html" %}
{% block title %}Play a Quiz{% endblock %}

{% block body %}
    <div>
        <nav >
            <ul class="pagination paginate justify-content-center my-2">
                {% for page in question_list.iter_pages() %}
                    {% if page %}
                        {% if page != question_list.page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('play', page=page) }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item active">
                                <a class="page-link">{{ page }}</span></a>
                            </li>
                        {% endif %}
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li> 
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <p class="page-status">Showing Questions {{ question_list.first }} - {{ question_list.last }} of {{ question_list.total }}</p>
    </div>
    
<div class="end-section">
{% for question in question_list.items %}
    <div class="section question container prevent-select" onclick="">
        <div class="row">
            <div class="col-8">
                <h5 class="fw-bold render-katex">{{ question.title }}</h5>
            </div>
            <div class="col-4 text-end opacity-50">
                <p class="mb-0">
                    Posted by {{ question.username }}<br>
                    <span dateposted="{{ question.date_posted }}" class="dateposted"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p class="render-katex">{{ question.question_description }}</p>
            </div>
            <div class="col-3 text-end align-self-end">
                {% if question.difficulty_level == 'Easy' %}
                    <span class="easy">Easy</span>
                {% endif %}
                {% if question.difficulty_level == 'Medium' %}
                    <span class="medium">Medium</span>
                {% endif %}
                {% if question.difficulty_level == 'Hard' %}
                    <span class="hard">Hard</span>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <span class="opacity-50">
                {% if question.comment_count == None %}
                0
                {% else %}
                    {{ question.comment_count }}
                {% endif %}
                 comment{% if question.comment_count != 1 %}s{% endif %}
            </span>
        </div>
    </div>
    {% endfor %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='JavaScript/play_question.js')}}"></script>
{% endblock %}

{%block footer %}
{% endblock %}